# Uploading Data

anthropic
voyageai
python-dotenv==1.0.0
numpy==1.24.3
qdrant-client==1.7.0
pydantic==2.5.2
tqdm==4.66.1
python-magic==0.4.27
PyMuPDF==1.23.7  # for PDF handling
python-docx==1.0.1  # for DOCX handling


# API Backend

fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.2
# voyageai==0.1.10
# qdrant-client==1.7.0
# python-dotenv==1.0.0